# Python packages and versions used in development environment
# This file isretained so that we will continue to get security update notifications
# and PRs from dependabot. It will be dropped when dependabot adds support for
# the `pixi.lock` file.
#
# Update this file with:
#   pixi run update-reqs

black==26.5.1
cffi==2.0.0
cfgv==3.5.0
click==8.4.1
distlib==0.4.1
filelock==3.29.1
identify==2.6.19
importlib_metadata==9.0.0
markdown-it-py==4.2.0
mdurl==0.1.2
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.2
pathspec==1.1.1
pip==26.1.2
platformdirs==4.10.0
pre_commit==4.6.0
pycparser==3.0
Pygments==2.20.0
python-discovery==1.4.0
pytokens==0.4.1
PyYAML==6.0.3
rich==15.0.0
setuptools==82.0.1
typing_extensions==4.15.0
ukkonen==1.1.0
virtualenv==21.4.2
zipp==4.1.0
