# Reusable workflow to do repo checkout and run pytest w/ coverage via Pixi,
# then upload coverage report to Codecov, and send job status notification to Slack

name: pixi-pytest-with-coverage

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

    secrets:
      CODECOV_TOKEN:
        required: true

jobs:
  pytest-with-coverage:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Pixi
        uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e
        with:
          pixi-version: v0.62.2
          cache: true
          environments: ${{ inputs.environment }}

      - name: Run pytest-with-coverage
        run: pixi run -e ${{ inputs.environment }} pytest --cov=$GITHUB_WORKSPACE --cov-report=xml

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          files: ./coverage.xml
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
